<% include ./layout %>

<div class="container-fluid">


  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Scenarios</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/scenarios">Life Satisfaction</a></li>
        <li class="active"><a href="#">IEO</a></li>
        
        <li><a href="/scenarios/ier">Wealth</a></li>
        <li><a href="/scenarios/health">Poor Health</a></li>
        <li><a href="/scenarios/volunteer">Volunteer Work</a></li>
        <li><a href="/scenarios/trump">Trump</a></li>
      </ul><br/>
    </div>
    <div class="col-sm-9">
      <h2> IEO </h2>
      <hr/>
      <h3>Twitter Data</h3>
      
      <br/><br/>
      
      <h3><%= title %></h3>
      


      <br/><br/>
    </div>
  </div>
</div>

