
<% include ./layout %>

<div>
<h1 class="cover-heading">Australia city analytics</h1>
<h1 class="cover-heading"></h1>
<p class="lead">Australia city analytics is a program to analyse Twitter data, comparing with AURIN statistics and learn the knowledge of Australia citizens' life.
  <p class="lead"></p><a href="/scenarios" class="btn btn-lg btn-default">Get Start</a>
</p>

</div>
