
<% include ./layout %>


<div class="container-fluid">
  <div class="row content">
<h1 class="cover-heading">Australia City Analytics</h1>
<h1 class="cover-heading"></h1>
<p class="lead">A program to analyse Twitter data, comparing with AURIN statistics and learn about life of Australians.
  <p class="lead"></p><a href="/scenarios" class="btn btn-lg btn-default">Get Started</a>
</p>
  </div>
</div>


