extends layout


block content
    h1(style='color:#4099AF;')= title
    p This is the results of 
        span.twitter-text #{title}
    #map
    script.
      var map;
      function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
          });
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBFTcYUCRQyw9P2b-h-_oFyO4Pgr4VOB3E&callback=initMap', async='', defer='')

    p This is the end
