
<% include ./layout %>
<h1 style="color:#4099AF;"></h1>
<p>This is the results of <span class="twitter-text"></span></p>
<div id="map"></div>
<script>
  var map;
  function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
      });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFTcYUCRQyw9P2b-h-_oFyO4Pgr4VOB3E&amp;callback=initMap" async="" defer=""></script>
<p>This is the end</p>