
<% include ./layout %>


<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
    var n = '';
    var s = '';
    var l = '';
    var n_eval = JSON.parse(n);
    var s_eval = JSON.parse(s);
    var l_eval = JSON.parse(l);
    var map;

function myMap() {
var mapProp= {
          center: {lat: -37.8141, lng: 144.9633},
          zoom: 11,
          // mapTypeId: google.maps.MapTypeId.SATELLITE
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
// map.data.loadGeoJson('http://data.gov.au/geoserver/vic-suburb-locality-boundaries-psma-administrative-boundaries/wfs?request=GetFeature&typeName=af33dd8c_0534_4e18_9245_fc64440f742e&outputFormat=json');
map.data.loadGeoJson('/VICSuburbs.json');



}
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFTcYUCRQyw9P2b-h-_oFyO4Pgr4VOB3E&amp;callback=myMap"></script>



